body {
  font-family: 'Asap', serif;
}

.header-source-code {
  font-size: 12px;
  color: deepskyblue;
  padding-left: 30%;
  padding-right: 30%;
}

.blog-header-fixed {
  position: fixed;
  top: 0;
}

.blog-main {
  font-size: 18px;
  padding-top: 40px;
  padding-left: 20%;
  padding-right: 20%;
}

.white-strip{
  height: 50px;
  background: white;
}
