body {
  font-family: 'Asap', serif;
}

.header-source-code {
  font-size: 15px;
  color: deepskyblue;
  background-color: white;
  border-color: white;
  resize: none;
}

.blog-header-fixed {
  position: fixed;
  top: 0;
}

.white-strip{
  height: 20px;
}

.page-footer{
  height: 50px;
}

.blog-main {
  margin-left: 0px;
  margin-right: 0px;
}

.stretch {
  width: 100%;
}

.row-no-margins {
  margin-left: -10px !important;
  margin-right: -10px !important;
}

